.button{
	display: block;
	width: 78px;
	height: 24px;
	border-radius: 3px;
	border: 0;
	box-shadow: inset 0 -3px 0 $darkgreen;
	background-color: $green;
	font-family: "Lato Black";
	font-size: 10px;
	text-transform: uppercase;
	color: white;
	
	&:hover{
		box-shadow: none;
	}
	
	&--large{
		width: 118px;
		height: 35px;
		font-size: 12px;
	}
	
	&--right{
		float: right;
	}
	
	&--orange{
		background-color: $orange;
		box-shadow: inset 0 -3px 0 $darkorange;
	}
	
	&--green-border{
		background-color: white;
		border: 1px solid $green;
		box-shadow: inset 0 -3px 0 $green;
		color: $green
	}
	
	&--orange-border{
		background-color: white;
		border: 1px solid $orange;
		box-shadow: inset 0 -3px 0 $orange;
		color: $orange;
	}	
}
