@keyframes percents38r{
	from {transform: rotate(0);}
	to {transform: rotate(112deg);}
}

@keyframes percents50r{
	from {transform: rotate(0);}
	to {transform: rotate(180deg);}
}

@keyframes percents12l{
	from {transform: rotate(0);}
	to {transform: rotate(12deg);}
}

@keyframes percents39l{
	from {transform: rotate(0);}
	to {transform: rotate(141deg);}
}

.chart-list{
	display: flex;
	justify-content: center;
	list-style: none;
	margin-bottom: 50px;
}

.chart-list__item{
	margin-right: 13px;
}

.chart-list__item:first-child{
	margin-right: -23px;
}

.chart-wrapper{
	position: relative;
	width: 120px;
	height: 120px;
	
}

.chart{
	position: absolute;
	width: 90px;
	height: 90px;
	padding: 0;
	border-radius: 50%;
	border: 5px solid $orange;
}

.chart__left-part{
	position: absolute;
	top: -4px;
	left: -1px;
	width: 53px;
	height: 106px;
	margin: 0;
	padding: 0;
	border-radius: 100% 0 0 100% / 50% 0 0 50%;
	overflow: hidden;
}

.chart__right-part{
	position: absolute;
	top: -4px;
	right: 18px;
	width: 53px;
	height: 106px;
	margin: 0;
	padding: 0;
	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
	overflow: hidden;
}

.chart__left-inner{
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	height: 88px;
	border-radius: 100% 0 0 100% / 50% 0 0 50%;
	border: 10px solid white;
	border-right: 0;
	transform: rotate(0);
	transform-origin: right;
	
	&--12l{
		animation: percents12l 0.4s;
		animation-timing-function: linear;
		animation-delay: 3s;
		animation-fill-mode: forwards;
	}
	
	&--39l{
		animation: percents39l 2s;
		animation-timing-function: linear;
		animation-delay: 3s;
		animation-fill-mode: forwards;
	}
}

.chart__right-inner{
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	height: 88px;
	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
	border: 10px solid white;
	border-left: 0;
	transform: rotate(0);
	transform-origin: left;
	
	&--38r{
		animation: percents38r 2s;
		animation-timing-function: linear;
		animation-delay: 1s;
		animation-fill-mode: forwards;
	}
	
	&--50r{
		animation: percents50r 2s;
		animation-timing-function: linear;
		animation-delay: 1s;
		animation-fill-mode: forwards;
	}
}

.chart__number{
	display: block;
	position: absolute;
	top: 22px;
	left: 29px;
	font-family: "Lato Light";
	font-size: 40px;
	color: $grey;
}

.pai-chart{
	width: 95px;
	height: 95px;
	border-radius: 50%;
	position: relative;
	background-image: linear-gradient(42deg, $green 50%, transparent 50%), linear-gradient(90deg, $grey 50%, transparent 50%), linear-gradient(130deg, $darkgrey 50%, transparent 50%), linear-gradient(310deg, $orange 50%, transparent 50%);
}

.pai-chart::before{
	content: "";
	width: 48px;
	height: 96px;
	position: absolute;
	left: -2px;
	background-image: linear-gradient($grey 50%, transparent 50%);
	border-radius: 100% 0 0 100% / 50% 0 0 50%;
	border-left: 1px solid white;
	transform: rotate(-30deg);
	transform-origin: right;
}

.pai-chart::after{
	content: "";
	width: 63px;
	height: 63px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 16px;
	left: 16px;
}
