.header{
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	
	background-color: $orange;
}

.header-logo{
	position: absolute;
	top: 5px;
	left: 5vw;
	display: block;
	width: 80px;
	height: 70px;
	
	background-image: url(../images/logo.svg);
	background-size: cover;
	
	@media screen and (max-width: 1220px){
		top: 25px;
		left: 10vw;
	}
	
	@media screen and (max-width: 955px){
		left: 5vw;
	}
	
	@media screen and (max-width: 860px){
		top: 40px;
		left: 3vw;
	}
	
	@media screen and (max-width: 720px){
		top: 10px;
		left: 5px;
	}
	
	&::after{
		content: "VELOCLUB";
		position: absolute;
		top: 25px;
		left: 100px;
		
		color: white;
		font-size: 16px;
		font-family: "Lato Black";
		
		@media screen and (max-width: 720px){
			display: none;
		}
	}
}

.header-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	height: auto;
	
	margin-left: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	
	list-style: none;
	
	@media screen and (max-width: 720px){
		display: none;
	}
}

.header-menu__item:not(:last-child){
	margin-right: 10px;
	margin-bottom: 10px;
}

.header-menu__item:last-child{
	width: 400px;
}

.header-search-wrapper{
	padding-top: 2px;
}
