.mail-label{
	position: fixed;
	top: 300px;
	right: -58px;
	display: block;
	width: 150px;
	height: 45px;
	padding-top: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
	color: white;
	font-size: 16px;
	font-family: "Lato Black";
	transform: rotate(-90deg);
	background-color: $green;
	transition: right 1s ease;
	z-index: 1000;
}

.output-message{
	position: fixed;
	top: 150px;
	right: -300px;
	width: 279px;
	min-height: 410px;
	padding: 5px;
	background-image: linear-gradient($green 80px, $darkgreen 80px, $darkgreen 115px, $lightgrey 115px, $lightgrey 100%);
	border-radius: 3px;
	transition: right 1s ease;
	z-index: 1000;
}

.user-message-name{
	color: white;
	font-size: 32px;
	font-family: "Lato Light";
	font-weight: 100;
	margin: 10px auto;
	display: block;
	width: 65%;
}

.message-menu-list{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 17px;
	justify-content: space-between;
	align-items: flex-end;
}

.message-menu-list__item:first-child{
	padding-left: 16px;
	padding-bottom: 2px;
}

.message-menu-list__item:last-child{
	padding-right: 23px;
	padding-bottom: 8px;
}

.output-message-list{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.output-message-list__item{
	position: relative;
	width: 233px;
	margin: 0 auto;
	min-height: 50px;
	background-color: white;
	border-radius: 5px;
	color: $darkgrey;
	font-size: 12.5px;
	padding: 5px;
	padding-top: 16px;
	
	&::before{
		position: absolute;
		top: -13px;
		left: 46%;
		content: "";
		border: 7px solid transparent;
		border-bottom: 7px solid white;
	}
}

.output-message-text{
	display: block;
	width: auto;
	height: auto;
	padding: 0 15px;
	margin: 0 auto;
	word-spacing: 2.7px;
}

.output-message-form{
	width: 243px;
	margin: 0 auto;
	padding: 0;
	padding-top: 4px;
}

.output-message-form__input{
	width: 206px;
	height: auto;
	border: 3px solid white;
	border-radius: 5px;
	background-color: $grey;
	color: $darkgrey;
	font-size: 12.5px;
	font-family: "Lato Bold";
	word-spacing: 2.7px;
	padding: 16px 15px;
	margin-bottom: 18px;
}

.mail-input:checked ~ .mail-label {
	right: 240px;
}

.mail-input:checked ~ .output-message {
	right: 0;
}

