.message-window{
	width: 279px;
	min-height: 410px;
	padding: 5px;
	background-image: linear-gradient($green 80px, $darkgreen 80px, $darkgreen 115px, $lightgrey 115px, $lightgrey 100%);
	border-radius: 3px;
}

.user-message-name{
	color: white;
	font-size: 32px;
	font-family: "Lato Light";
	font-weight: 100;
	margin: 10px auto;
	display: block;
	width: 65%;
}

.message-window-list{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 17px;
	justify-content: space-between;
	align-items: flex-end;
}

.message-window-list__item:first-child{
	padding-left: 16px;
	padding-bottom: 2px;
}

.message-window-list__item:last-child{
	padding-right: 23px;
	padding-bottom: 8px;
}

.message-list{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.message-list__item{
	width: 233px;
	margin: 0 auto;
	min-height: 50px;
	background-color: white;
	border-radius: 5px;
	color: $darkgrey;
	font-size: 12.5px;
	padding: 5px;
	padding-top: 16px;
}

.message-text{
	display: block;
	width: auto;
	height: auto;
	padding: 0 15px;
	margin: 0 auto;
	word-spacing: 2.7px;
}

.message-form{
	width: 243px;
	margin: 0 auto;
	padding: 0;
	padding-top: 4px;
}

.message-form__input{
	width: 206px;
	height: auto;
	border: 3px solid white;
	border-radius: 5px;
	background-color: $grey;
	color: $darkgrey;
	font-size: 12.5px;
	font-family: "Lato Bold";
	word-spacing: 2.7px;
	padding: 16px 15px;
	margin-bottom: 18px;
}

