.profile-container{
	width: auto;
	height: auto;
	position: fixed;
	left: 0;
	top: 130px;
	z-index: 3;
}

.pofile-title{
	font-size: 14px;
	color: $green;
	margin: 20px;
	text-transform: uppercase;
}

.user-profile{
	display: flex;
	margin-bottom: 22px;
	width: auto;
}

.user-profile__img{
	width: 84px;
	height: 84px;
	margin-left: 20px;
	border-radius: 50%;
	border: 5px solid $grey;
	background-color: $grey;
}

.user-profile__info{
	position: relative;
	width: 163px;
	height: 93px;
	border-radius: 7px;
	background-color: $grey;
	margin-left: 10px;
	text-align: center;
	display: none;
	
	&::before{
		content: "";
		position: absolute;
		top: 42px;
		left: -10px;
		border: 5px solid transparent;
		border-right: 5px solid $grey;
	}
	
	&--green{
		background-color: $green;
		
		&::before{
			border-right: 5px solid $green;
		}
	}
}

.user-profile:hover .user-profile__info{
	display: block;
}

.user-profile__name{
	color: $orange;
	font-size: 18px;
	margin: 0;
	margin-top: 10px;
	
	&--white{
		color: white;
	}
}

.user-profile__proffesion{
	font-size: 11px;
	font-family: "Lato Black";
	text-transform: uppercase;
	margin: 0;
	color: $darkgrey;
	
	&--white{
		color: white;
	}
}

.user-profile-list{
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	margin-top: 11px;
}

.user-profile-list__item{
	margin: 0;
	padding: 0;
	width: auto;
}

.user-profile__link{
	display: block;
	min-width: 40px;
	color: white;
	font-size: 22px;
	
	&--grey{
		color: $darkgrey;
	}
	
	&--orange{
		color: $orange;
	}
}

