section.section.calendar-section
	h2.section-title Events calendar
	div.calendar-wrapper
		ul.calendar-list
			li.calendar-list__item
				h1.calendar__date
			li.calendar-list__item
				div.calendar__month-block
					button.calendar-button.calendar-button--left
					p.calendar__month-title
					button.calendar-button.calendar-button--right
			li.calendar-list__item
				table.calendar-table#calendar
					thead
						tr.hidden
							td
							td(colspan="5")
							td
						tr.calendar-table__months
							td.calendar-table__months-cell Mon 
							td.calendar-table__months-cell Tue
							td.calendar-table__months-cell Wed
							td.calendar-table__months-cell Thu
							td.calendar-table__months-cell Fri
							td.calendar-table__months-cell Sat
							td.calendar-table__months-cell Sun
					tbody
						tr.calendar-table__days
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
						tr.calendar-table__days
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
						tr.calendar-table__days
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
						tr.calendar-table__days
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
						tr.calendar-table__days
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
						tr.calendar-table__days
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
							td.calendar-table__date-cell
			li.calendar-list__item
				p.calendar__text Today
