div.chart-container
	h2.title.title--green Your progress
	ul.chart-list
		li.chart-list__item
			div.chart-wrapper
				div.chart
				div.chart__left-part
					div.chart__left-inner
				div.chart__right-part
					div.chart__right-inner
				span.chart__number 38
		li.chart-list__item
			div.chart-wrapper
				div.chart
				div.chart__left-part
					div.chart__left-inner
				div.chart__right-part
					div.chart__right-inner
				span.chart__number 38
		li.chart-list__item
			div.chart-wrapper
				div.chart
				div.chart__left-part
					div.chart__left-inner
				div.chart__right-part
					div.chart__right-inner
				span.chart__number 38
		li.chart-list__item
			div.chart-wrapper
				div.chart
				div.chart__left-part
					div.chart__left-inner
				div.chart__right-part
					div.chart__right-inner
				span.chart__number 38
		li.chart-list__item
			div.pai-chart