div.chart-container
	h2.title.title--green Your progress
	ul.chart-list
		li.chart-list__item
			div.chart-wrapper
				div.chart
				div.chart__left-part
					div.chart__left-inner
				div.chart__right-part
					div.chart__right-inner
				span.chart__number 0
		li.chart-list__item
			div.chart-wrapper
				div.chart
				div.chart__left-part
					div.chart__left-inner
				div.chart__right-part
					div.chart__right-inner.chart__right-inner--38r
				span.chart__number 38
		li.chart-list__item
			div.chart-wrapper
				div.chart
				div.chart__left-part
					div.chart__left-inner.chart__left-inner--12l
				div.chart__right-part
					div.chart__right-inner.chart__right-inner--50r
				span.chart__number 62
		li.chart-list__item
			div.chart-wrapper
				div.chart
				div.chart__left-part
					div.chart__left-inner.chart__left-inner--39l
				div.chart__right-part
					div.chart__right-inner.chart__right-inner--50r
				span.chart__number 89
		li.chart-list__item
			div.pai-chart