div.menu-wrapper
	ul.menu-list
		li.menu-list__item
			p.dropdown-menu__option MENU
		li.menu-list__item
			input.hidden.dropdown-menu__input#dropdownInput(type="checkbox")
			label.dropdown-menu__button(for="dropdownInput")
			ul.dropdown-menu-list
				li.dropdown-menu-list__item
					a.dropdown-menu__link(href="index.html") Main
				li.dropdown-menu-list__item 
					a.dropdown-menu__link(href="news.html") News & events
				li.dropdown-menu-list__item 
					a.dropdown-menu__link(href="gallery.html") Gallery
				li.dropdown-menu-list__item 
					a.dropdown-menu__link(href="profile.html") My profile