footer.footer
	ul.footer-list
		li.footer-list__item
			address.address 1259 California st San Francisco, CA
		li.footer-list__item
			p.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
		li.footer-list__item
			h1.footer__title Our Socials
			ul.socials-list
				li.socials-list__item
					a.footer-link(href="#")
						i.fab.fa-facebook-f
				li.socials-list__item
					a.footer-link(href="#")
						i.fab.fa-twitter
				li.socials-list__item
					a.footer-link(href="#")
						i.fab.fa-instagram
		li.footer-list__item
			button.button.button--orange.button--large.button-write Write us
		li.footer-list__item
			a.footer-logo(href="index.html")
		