header.header
	a.header-logo(href="index.html")
	ul.header-menu
		li.header-menu__item
			a.button.button--large(href="index.html") Main
		li.header-menu__item
			a.button.button--large(href="news.html") News & Events
		li.header-menu__item
			a.button.button--large(href="gallery.html") Gallery
		li.header-menu__item
			a.button.button--large(href="profile.html") My profile
		li.header-menu__item
			div.header-search-wrapper
				include searching