h2.title Your stage now
ul.stages-list
	li.stages-list__item 1
	li.stages-list__item 2
	li.stages-list__item 3
	li.stages-list__item.stages-list__item--grey 4
	li.stages-list__item.stages-list__item--grey 5