section.users-section
	input.hidden.users-section__input#usersOnline(type="checkbox" name="users-online")
	label.users-section__label(for="usersOnline") Users online
	div.profile-container
		h2.pofile-title.hidden Users online
		div.user-profile
			div.user-profile__avatar
				img.user-profile__img(src="images/user1.png"
				alt="#")
			div.user-profile__info
				p.user-profile__name John Smith
				p.user-profile__proffesion UX Designer
				ul.user-profile-list
					li.user-profile-list__item
						a.user-profile__link.user-profile__link--grey(href="#")
							i.fab.fa-facebook-f
					li.user-profile-list__item
						a.user-profile__link.user-profile__link--orange(href="#")
							i.fab.fa-twitter
					li.user-profile-list__item
						a.user-profile__link.user-profile__link--grey(href="#")
							i.fab.fa-dribbble
		div.user-profile
			div.user-profile__avatar
				img.user-profile__img(src="images/user2.png"
				alt="#")
			div.user-profile__info.user-profile__info--green
				p.user-profile__name.user-profile__name--white Sarah Brown
				p.user-profile__proffesion.user-profile__proffesion--white Developer
				ul.user-profile-list
					li.user-profile-list__item
						a.user-profile__link(href="#")
							i.fab.fa-facebook-f
					li.user-profile-list__item
						a.user-profile__link(href="#")
							i.fab.fa-twitter
					li.user-profile-list__item
						a.user-profile__link(href="#")
							i.fab.fa-dribbble