/* COLORS */

$green: rgb(78,183,168);
$darkgreen: rgb(40,162,144);
$contgreen: rgb(55,146,133);
$orange: rgb(231,87,53);
$darkorange: rgb(213,76,44);
$darkorange: rgb(191,62,31);
$grey: rgb(229,229,229);
$lightgrey: rgb(242,242,242);
$darkgrey: rgb(116,116,116);
$midgrey: rgb(132,132,132);
