doctype html
html(lang="ru")
	include pug-templates/head
	body
		div.ripple
		include pug-templates/header
		main.container.container--flex
			section.gallery-section
				h1.section-title Photo inspiration
				ul.gallery-list
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider1.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider2.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider3.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider1.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider2.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider3.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider1.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider2.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider3.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider1.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider1.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider2.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider3.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider1.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider2.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider3.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider1.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider2.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider3.jpg')
					li.gallery-list__item
						a.gallery-link
							img.gallery-img(src='images/slider1.jpg')
				div.button-wrapper
					button.arrow-button.arrow-button--grey.arrow-button--left-white-arrow.gallery-button
					button.arrow-button.arrow-button--grey.arrow-button--right-white-arrow.gallery-button
		include pug-templates/users
		include pug-templates/messaging
		include pug-templates/footer
		include pug-templates/modal
		