doctype html
html(lang="ru")
	include pug-templates/head
	body
		include pug-templates/header
		main.container.container--flex
			section
		include pug-templates/users
		include pug-templates/messaging
		include pug-templates/footer
		include pug-templates/modal
		