doctype html
html(lang="ru")
	include pug-templates/head
	body
		div.ripple
		include pug-templates/header
		main.container
			include pug-templates/photo-slider
			include pug-templates/news-block
			include pug-templates/video-block
			include pug-templates/map-block
		include pug-templates/users
		include pug-templates/messaging
		include pug-templates/footer
		include pug-templates/modal