doctype html
html(lang="ru")
	include pug-templates/head
	body
		div.ripple
		include pug-templates/header
		main.container.container--flex
			include pug-templates/news-block
			include pug-templates/calendar-block
		include pug-templates/users
		include pug-templates/messaging
		include pug-templates/footer
		include pug-templates/modal
		