doctype html
html(lang="ru")
	head
	meta(charset = 'utf-8')
	meta(name ="viewport", content = "initial-scale=1.0, width=device-width")
	title Veloclub
	body
		header
			button.button.button--green-border button
			button.button.button--large.button--orange-border button
			button.arrow-button.arrow-button--green.arrow-button--left-white-arrow
			div.chart
		main
			h1 nvouvoeh