section.section
	div.map-container
		div#map
		div.map__info
			ul.map-list
				li.map-list__item
					p.map__text Meet us!
				li.map-list__item
					address.map__address 1259 California st San Francisco, CA
				li.map-list__item.map-list__item--right-position
					button.map-button.location-button
					button.map-button.pin-button
		script.
			ymaps.ready(init);
 
			function init(){     

				var myMap;

				myMap = new ymaps.Map("map", {
					center: [37.787509, -122.444838],
					zoom: 13,
					controls: []
				});

				myMap.behaviors.disable('scrollZoom');

				myMap.controls.add("zoomControl", {
					position: {top: 15, left: 15}
				});

				 var myPlacemark = new ymaps.Placemark([37.787509, -122.444838] , {},
					{ iconLayout: 'default#image',
					  iconImageHref: './images/marker.png',
					  iconImageSize: [59, 60],
					  iconImageOffset: [-15, -50] });     

				myMap.geoObjects.add(myPlacemark);
			}